{# templates/profile/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Modifier le profil de {{ user.prenom }} {{ user.nom }}</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.photo) }}
        <button class="btn btn-primary" type="submit">Mettre à jour</button>
    {{ form_end(form) }}
</div>
{% endblock %}
