{% extends 'base.html.twig' %}

{% block title %}Détails de la Catégorie{% endblock %}

{% block body %}
<div class="container py-5">
<div style="margin-top: 100px;"></div>
    <h1 class="mb-4 text-center">Détails de la Catégorie</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th scope="row" style="width: 30%;">ID</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th scope="row">Libellé</th>
                <td>{{ categorie.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4">
        <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-warning">Modifier</a>
        {{ include('categorie/_delete_form.html.twig', { 'class': 'btn btn-danger' }) }}
    </div>
</div>
{% endblock %}
